<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script th:src="@{assets/js/main.js}"></script>
    <title>Title</title>

</head>
<body>
<nav th:insert="menu.html"></nav>

<h1>Создать курс</h1>
<form action="/course/createCourse" method="post" id="createCourse">
    <input type="text" name="title" placeholder="Название" id="title">


    <input type="text" name="description" placeholder="Описание" id="description">

    <input type="submit" value="Создать курс">
</form>

<script>
    $("#createCourse").validate({
        rules: {
            title: {
                required: true, minlength: 10, maxlength: 50,
            },

            description: {
                required: true, minlength: 10, maxlength: 255,
            },
        }, messages: {
            title: {
                required: "Обязательно для ввода",
                minlength: "Должно быть больше 10 символов",
                maxlength: "Должно быть меньше 50 символов",
            },

            description: {
                required: "Обязательно для ввода",
                minlength: "Должно быть больше 10 символов",
                maxlength: "Должно быть меньше 255 символов",
            },

        },
    });
</script>


</body>
</html>