<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script th:src="@{/assets/js/main.js}"></script>
    <title>Title</title>
</head>
<body>

<nav th:insert="menu"></nav>


<h1>Курсы</h1>
<p th:if="${courses.empty}">Курсов пока нет(</p>
<div th:unless="${courses.empty}" th:each="course: ${courses}">
    <h4 th:text="${course.title}"></h4>
    <h5 th:text="${'Преподаватель: ' + course.creator.lastName + ' ' + course.creator.firstName}"></h5>
    <a th:href="${'/course/'+course.id}">Посмотреть</a>
</div>


</body>
</html>
